<a href="https://colab.research.google.com/github/strangelycutlemon/camera_prices/blob/master/camera_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install packages in Colab
    !pip install category_encoders==2.0.0
    !pip install pandas-profiling==2.3.0
    !pip install pandas==0.23.4
    !pip install plotly==4.1.1

Requirement already satisfied: category_encoders==2.0.0 in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0) (0.10.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0) (0.21.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0) (1.3.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0) (1.16.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.0.0) (0.25.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders==2.0.0) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.0.0) (0.13.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.0.0) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.0.0) (2018.9)
Requirement already satisfied: pandas-profiling==2.3.0 in /usr/local/lib/python3.6/dist-packages (2.3.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0) (0.25.1)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0) (0.1.12)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0) (2.10.1)
Requirement already satisfied: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0) (3.0.5)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0) (0.4.2)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0) (1.0.0)
Requirement already satisfied: phik>=0.9.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0) (0.9.8)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.3.0) (3.0.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling==2.3.0) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling==2.3.0) (1.16.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling==2.3.0) (2.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling==2.3.0) (1.1.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling==2.3.0) (0.9.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling==2.3.0) (1.3.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling==2.3.0) (3.13)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0) (0.40.1)
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0) (5.3.1)
Requirement already satisfied: pytest-pylint>=0.13.0 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0) (0.14.1)
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0) (5.6.0)
Requirement already satisfied: pytest>=4.0.2 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling==2.3.0) (5.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling==2.3.0) (2.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling==2.3.0) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling==2.3.0) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.19->pandas-profiling==2.3.0) (1.12.0)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling==2.3.0) (0.29.0)
Requirement already satisfied: traitlets in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0) (4.3.2)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0) (17.0.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0) (4.5.0)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0) (4.5.3)
Requirement already satisfied: pylint>=1.4.5 in /usr/local/lib/python3.6/dist-packages (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0) (2.4.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (0.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (3.1.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (2.1.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (0.6.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (0.4.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (1.4.2)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (4.4.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (0.8.4)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0) (1.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0) (19.1)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0) (0.23)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0) (19.1.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0) (0.13.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0) (1.8.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0) (7.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0) (0.1.7)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling==2.3.0) (41.2.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets->jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets->jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling==2.3.0) (4.4.0)
Requirement already satisfied: mccabe<0.7,>=0.6 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0) (0.6.1)
Requirement already satisfied: isort<5,>=4.2.5 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0) (4.3.21)
Requirement already satisfied: astroid<3,>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0) (2.3.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (0.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling==2.3.0) (2.6.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik>=0.9.8->pandas-profiling==2.3.0) (0.6.0)
Requirement already satisfied: lazy-object-proxy in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0) (1.4.2)
Requirement already satisfied: typed-ast<1.3.0; implementation_name == "cpython" and python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0) (1.2.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.3.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling==2.3.0) (1.11.2)
Collecting pandas==0.23.4
  Downloading https://files.pythonhosted.org/packages/e1/d8/feeb346d41f181e83fba45224ab14a8d8af019b48af742e047f3845d8cff/pandas-0.23.4-cp36-cp36m-manylinux1_x86_64.whl (8.9MB)
     |████████████████████████████████| 8.9MB 5.0MB/s
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2.8.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (1.16.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas==0.23.4) (1.12.0)
ERROR: google-colab 1.0.0 has requirement pandas~=0.24.0, but you'll have pandas 0.23.4 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 0.25.1
    Uninstalling pandas-0.25.1:
      Successfully uninstalled pandas-0.25.1
Successfully installed pandas-0.23.4

Requirement already satisfied: plotly==4.1.1 in /usr/local/lib/python3.6/dist-packages (4.1.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.1.1) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly==4.1.1) (1.12.0)

In [1]:
import pandas as pd
import warnings

# squelch warnings
warnings.filterwarnings('ignore')

url = "https://raw.githubusercontent.com/strangelycutlemon/camera_prices/master/cameras.csv"

df = pd.read_csv(url)
df.head()

                    Model  Release date   ...    Dimensions   Price
0        Agfa ePhoto 1280          1997   ...          95.0   179.0
1        Agfa ePhoto 1680          1998   ...         158.0   179.0
2        Agfa ePhoto CL18          2000   ...           0.0   179.0
3        Agfa ePhoto CL30          1999   ...           0.0   269.0
4  Agfa ePhoto CL30 Clik!          1999   ...         128.0  1299.0

[5 rows x 13 columns]

In [0]:
# import seaborn as sns

# sns.pairplot(df)

In [3]:
pd.__version__

'0.23.4'

In [4]:
df.describe()

       Release date  Max resolution     ...        Dimensions        Price
count   1038.000000     1038.000000     ...       1036.000000  1038.000000
mean    2003.590559     2474.672447     ...        105.363417   457.384393
std        2.724755      759.513608     ...         24.262761   760.452918
min     1994.000000        0.000000     ...          0.000000    14.000000
25%     2002.000000     2048.000000     ...         92.000000   149.000000
50%     2004.000000     2560.000000     ...        101.000000   199.000000
75%     2006.000000     3072.000000     ...        115.000000   399.000000
max     2007.000000     5616.000000     ...        240.000000  7999.000000

[8 rows x 12 columns]

In [42]:
df[df['Zoom_wide']==0]

                                   Model    ...          Brand
47                         Canon EOS 10D    ...          Canon
48                          Canon EOS-1D    ...          Canon
49                  Canon EOS-1D Mark II    ...          Canon
50                 Canon EOS-1D Mark III    ...          Canon
51                Canon EOS-1D Mark II N    ...          Canon
52                         Canon EOS-1Ds    ...          Canon
53                 Canon EOS-1Ds Mark II    ...          Canon
54                Canon EOS-1Ds Mark III    ...          Canon
55                         Canon EOS 20D    ...          Canon
56                        Canon EOS 20Da    ...          Canon
57        Canon EOS 300D / Digital Rebel    ...          Canon
58                         Canon EOS 30D    ...          Canon
59     Canon EOS 350D / Digital Rebel XT    ...          Canon
60    Canon EOS 400D / Digital Rebel XTi    ...          Canon
61                         Canon EOS 40D    ...          Canon
62                          Canon EOS 5D    ...          Canon
63                         Canon EOS D30    ...          Canon
64                         Canon EOS D60    ...          Canon
185                     Contax N Digital    ...         Contax
201                           Epson R-D1    ...          Epson
286              Fujifilm FinePix IS Pro    ...       Fujifilm
297              Fujifilm FinePix S1 Pro    ...       Fujifilm
298              Fujifilm FinePix S2 Pro    ...       Fujifilm
299              Fujifilm FinePix S3 Pro    ...       Fujifilm
300              Fujifilm FinePix S5 Pro    ...       Fujifilm
390                        Kodak DCS 14n    ...          Kodak
391                         Kodak DCS315    ...          Kodak
392                         Kodak DCS330    ...          Kodak
393                         Kodak DCS420    ...          Kodak
394                         Kodak DCS460    ...          Kodak
...                                  ...    ...            ...
564                            Nikon D70    ...          Nikon
565                           Nikon D70s    ...          Nikon
566                            Nikon D80    ...          Nikon
627                          Olympus E-1    ...        Olympus
631                          Olympus E-3    ...        Olympus
632                        Olympus E-300    ...        Olympus
633                        Olympus E-330    ...        Olympus
634                        Olympus E-400    ...        Olympus
635                        Olympus E-410    ...        Olympus
636                        Olympus E-500    ...        Olympus
637                        Olympus E-510    ...        Olympus
718               Panasonic Lumix DMC-L1    ...      Panasonic
719              Panasonic Lumix DMC-L10    ...      Panasonic
747                        Pentax *ist D    ...         Pentax
748                       Pentax *ist DL    ...         Pentax
749                      Pentax *ist DL2    ...         Pentax
750                       Pentax *ist DS    ...         Pentax
751                      Pentax *ist DS2    ...         Pentax
752                         Pentax K100D    ...         Pentax
753                   Pentax K100D Super    ...         Pentax
754                          Pentax K10D    ...         Pentax
755                         Pentax K110D    ...         Pentax
853                        Samsung GX-10    ...        Samsung
854                        Samsung GX-1L    ...        Samsung
855                        Samsung GX-1S    ...        Samsung
901                           Sigma SD10    ...          Sigma
902                           Sigma SD14    ...          Sigma
903                            Sigma SD9    ...          Sigma
1004                      Sony DSLR-A100    ...           Sony
1005                      Sony DSLR-A700    ...           Sony

[85 rows x 14 columns]

In [41]:
df.sort_values(by='Price', ascending=True).head(20)

                  Model  Release_date   ...     Price    Brand
347        JVC GC-QX3HD          2001   ...      14.0      JVC
348        JVC GC-QX5HD          2001   ...      14.0      JVC
903           Sigma SD9          2002   ...      19.0    Sigma
902          Sigma SD14          2006   ...      19.0    Sigma
1024     Toshiba PDR-M1          1998   ...      62.0  Toshiba
1035    Toshiba PDR-M71          2001   ...      62.0  Toshiba
1034    Toshiba PDR-M70          2000   ...      62.0  Toshiba
1033    Toshiba PDR-M65          2001   ...      62.0  Toshiba
1032    Toshiba PDR-M61          2001   ...      62.0  Toshiba
1030     Toshiba PDR-M5          1999   ...      62.0  Toshiba
1029     Toshiba PDR-M4          1999   ...      62.0  Toshiba
1028     Toshiba PDR-M3          1999   ...      62.0  Toshiba
1025    Toshiba PDR-M11          2001   ...      62.0  Toshiba
1036    Toshiba PDR-M81          2001   ...      62.0  Toshiba
526    Nikon Coolpix P1          2005   ...      99.0    Nikon
813    Ricoh Caplio R1V          2005   ...      99.0    Ricoh
534   Nikon Coolpix S10          2006   ...      99.0    Nikon
525    Nikon Coolpix L6          2006   ...      99.0    Nikon
533    Nikon Coolpix S1          2005   ...      99.0    Nikon
524    Nikon Coolpix L5          2006   ...      99.0    Nikon

[20 rows x 14 columns]

In [5]:
df.shape

(1038, 13)

In [6]:
# Check datatypes, null value counts, and unique values
pd.concat([df.isnull().sum(), df.nunique(), df.dtypes], axis=1, keys=['isnull', 'nunique', 'dtypes'])

                         isnull  nunique   dtypes
Model                         0     1038   object
Release date                  0       14    int64
Max resolution                0       99  float64
Low resolution                0       70  float64
Effective pixels              0       16  float64
Zoom wide (W)                 0       25  float64
Zoom tele (T)                 0      100  float64
Normal focus range            0       32  float64
Macro focus range             1       29  float64
Storage included              2       44  float64
Weight (inc. batteries)       2      237  float64
Dimensions                    2      101  float64
Price                         0       43  float64

In [7]:
# Remove spaces from column names
df.columns = df.columns.str.replace(' ', '_')
df.head()

                    Model  Release_date   ...    Dimensions   Price
0        Agfa ePhoto 1280          1997   ...          95.0   179.0
1        Agfa ePhoto 1680          1998   ...         158.0   179.0
2        Agfa ePhoto CL18          2000   ...           0.0   179.0
3        Agfa ePhoto CL30          1999   ...           0.0   269.0
4  Agfa ePhoto CL30 Clik!          1999   ...         128.0  1299.0

[5 rows x 13 columns]

In [0]:
df = df.rename(columns={'Zoom_wide_(W)':'Zoom_wide',
                        'Zoom_tele_(T)':'Zoom_tele',
                        'Weight_(inc._batteries)':'Weight'})

In [0]:
# Drop all 7 rows with nulls
df = df.dropna(axis=0)

In [10]:
# Create Brand feature
df['Brand'] = df['Model'].apply(lambda x: x.split()[0])
df.head()

                    Model  Release_date  ...     Price  Brand
0        Agfa ePhoto 1280          1997  ...     179.0   Agfa
1        Agfa ePhoto 1680          1998  ...     179.0   Agfa
2        Agfa ePhoto CL18          2000  ...     179.0   Agfa
3        Agfa ePhoto CL30          1999  ...     269.0   Agfa
4  Agfa ePhoto CL30 Clik!          1999  ...    1299.0   Agfa

[5 rows x 14 columns]

In [0]:
# create list of features
features = df.columns.tolist()

# remove Model due to high cardinality
features.remove('Model')
features.remove('Price')

In [12]:
features

['Release_date',
 'Max_resolution',
 'Low_resolution',
 'Effective_pixels',
 'Zoom_wide',
 'Zoom_tele',
 'Normal_focus_range',
 'Macro_focus_range',
 'Storage_included',
 'Weight',
 'Dimensions',
 'Brand']

In [13]:
# Create test and validation sets
from sklearn.model_selection import train_test_split

target = 'Price'

X = df[features]
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, test_size=0.25, random_state=42)

print(X_train.shape, y_train.shape, X_val.shape, y_val.shape, X_test.shape, y_test.shape)

(621, 12) (621,) (207, 12) (207,) (208, 12) (208,)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRFRegressor
import category_encoders as ce

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    RandomForestRegressor(n_estimators=1000, random_state=42, n_jobs=-1)
    # XGBRFRegressor(n_estimators=1000, random_state=42)
)

In [15]:
pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['Brand'], drop_invariant=False,
                               handle_missing='value', handle_unknown='value',
                               return_df=True, use_cat_names=True, verbose=0)),
                ('randomforestregressor',
                 RandomForestRegressor(bootstrap=True, criterion='mse',
                                       max_depth=None, max_features='auto',
                                       max_leaf_nodes=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=1000, n_jobs=-1,
                                       oob_score=False, random_state=42,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [16]:
from sklearn.metrics import r2_score, mean_absolute_error
import numpy as np

baseline_guess = y_val.mean() * np.ones(len(y_val))
print(mean_absolute_error(y_val, baseline_guess))

y_val_hat = pipeline.predict(X_val)
print(mean_absolute_error(y_val, y_val_hat))

491.01939368480004
213.43155256498733

In [17]:
print(r2_score(y_val, y_val_hat))

0.610067138792207

In [18]:
from joblib import dump
dump(pipeline, 'pipeline.joblib')

['pipeline.joblib']

In [0]:
# regressor = pipeline.named_steps('randomforestregressor')

# regressor

In [20]:
import plotly.express as px

X = df[['Release_date', 'Max_resolution']]
y = df['Price']

plot_pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    RandomForestRegressor(n_estimators=1000, random_state=42, n_jobs=-1)
)

plot_pipeline.fit(X,y)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=[], drop_invariant=False,
                               handle_missing='value', handle_unknown='value',
                               return_df=True, use_cat_names=True, verbose=0)),
                ('randomforestregressor',
                 RandomForestRegressor(bootstrap=True, criterion='mse',
                                       max_depth=None, max_features='auto',
                                       max_leaf_nodes=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=1000, n_jobs=-1,
                                       oob_score=False, random_state=42,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [21]:
dump(plot_pipeline, 'plot_pipeline.joblib')

['plot_pipeline.joblib']

In [0]:
brands = df.Brand.unique().tolist()

In [33]:
for i in brands:
  print(f"{{'label': '{i}',"+f"'value': '{i}'"+"}")

{'label': 'Agfa','value': 'Agfa'}
{'label': 'Canon','value': 'Canon'}
{'label': 'Casio','value': 'Casio'}
{'label': 'Contax','value': 'Contax'}
{'label': 'Epson','value': 'Epson'}
{'label': 'Fujifilm','value': 'Fujifilm'}
{'label': 'HP','value': 'HP'}
{'label': 'JVC','value': 'JVC'}
{'label': 'Kodak','value': 'Kodak'}
{'label': 'Kyocera','value': 'Kyocera'}
{'label': 'Leica','value': 'Leica'}
{'label': 'Nikon','value': 'Nikon'}
{'label': 'Olympus','value': 'Olympus'}
{'label': 'Panasonic','value': 'Panasonic'}
{'label': 'Pentax','value': 'Pentax'}
{'label': 'Ricoh','value': 'Ricoh'}
{'label': 'Samsung','value': 'Samsung'}
{'label': 'Sanyo','value': 'Sanyo'}
{'label': 'Sigma','value': 'Sigma'}
{'label': 'Sony','value': 'Sony'}
{'label': 'Toshiba','value': 'Toshiba'}

In [34]:
features

['Release_date',
 'Max_resolution',
 'Low_resolution',
 'Effective_pixels',
 'Zoom_wide',
 'Zoom_tele',
 'Normal_focus_range',
 'Macro_focus_range',
 'Storage_included',
 'Weight',
 'Dimensions',
 'Brand']

In [38]:
for i in features:
  print(i,',')

Release_date ,
Max_resolution ,
Low_resolution ,
Effective_pixels ,
Zoom_wide ,
Zoom_tele ,
Normal_focus_range ,
Macro_focus_range ,
Storage_included ,
Weight ,
Dimensions ,
Brand ,